TELEGRAM_BOT_TOKEN=
TELEGRAM_RUN_PASSWORD=
GITHUB_TOKEN=
GITHUB_REPOSITORY=turgunovjasur/Playwright
GITHUB_WORKFLOW_FILE=daily-smoke.yml
GITHUB_REF=main
ALLOWED_SERVER_URLS=https://smartup.online,https://app3.greenwhite.uz/xtrade
HOURLY_SCHEDULE_ENABLED=0
HOURLY_SCHEDULE_MINUTE=17
HOURLY_SCHEDULE_TIMEZONE=Asia/Tashkent
HOURLY_SCHEDULE_SERVER=smartup
